<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Obrazkowo', root_path, class:"navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Strona główna", root_path %></li>
      <li><%= link_to "O mnie", home_about_path %></li>
      <li><%= link_to "Lista pinów", pins_path %></li>

      <% if user_signed_in? %>
          <li><%= link_to "Edycja Profilu", edit_user_registration_path %></li>
          <li><%= link_to "Nowy Pin", new_pin_path %></li>
          <li><%= link_to "Wylogowanie", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Logowanie", new_user_session_path %></li>
          <li><%= link_to "Rejestracja", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
